* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.header,
.one,
.two {
  display: inline-flex;
}

.box {
  width: 100%;
  height: 72px;
  position: fixed;
  display: inline-flex;
  background-color: white;
}

.one {
  margin-right: 60px;
  margin-left: 20px;
}

.logo {
  position: relative;
  width: 200px;
  height: 70px;
  margin: auto;
  margin-left: auto;
  margin-right: 50 px;
}

.png {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.two ul {
  list-style-type: none;
  display: inline-flex;
}

.two ul li {
  width: 190px;
  height: 30px;
  font-weight: 400;
  font-size: 25px;
  cursor: pointer;
  color: rgb(198, 40, 29);
  margin-top: 25px;
  text-align: center;
}

.two ul li:hover {
  color: white;
  background-color: rgba(198, 40, 29, 01);
}

.two ul li.bck {
  text-align: center;
  line-height: 25px;
}

.two ul li ul {
  color: rgb(198, 40, 29);
  background-color: white;
  display: inline-flexbox;
  left: 0px;
  position: relative;
  padding: 0px;
  margin-top: 2px;
  text-align: center;
  line-height: 5px;
  display: none;
}

.two ul .bck:hover ul {
  display: grid;
}

.two ul li ul li {
  width: 100%;
  text-indent: 10px;
  height: 20px;
  border-width: 0.5px;
  border-color: #e4e1e1;
  line-height: 20px;
  font-size: 18px;
  text-shadow: none;
  color: rgb(198, 40, 29);
}

.two ul li ul li a {
  text-decoration: none;
  color: rgb(198, 40, 29);
}

.two ul li ul li a:hover {
  color: white;
}

.footer {
  margin-top: 690px;
  position: absolute;
  background-color: rgb(198, 40, 29);
}

.footer .box {
  position: relative;
  background-color: white;
  color: rgb(198, 40, 29);
  font-size: small;
  font: weight 100;
  word-spacing: 1mm;
  text-align: center;
}



/*.overlay {

    animation: fadeup 200s ease infinite;
}*/

@keyframes fadeup {
  from {
    height: 0%;
    opacity: 0;
  }

  to {
    height: 90%;
    opacity: 0.3;
  }
}

.over {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  animation: fadeup 10s ease-in-out;
}